*{
    margin:0;
    padding:0;
}
#heading{
    text-align: center;

}

a{
    text-decoration:none;
    color:black;
    transition: 0.5s ease;
}
a:hover{
    color:white;
    background-color:black;
}

.navbar{
    display:flex;
    flex-direction:row;
}

.navlinks{
    border:2px solid black;
    margin:1%;
    font-size:20px;
    padding:0.5%;
}
.angrybird{
    display: flex;
    flex-direction: column;
    border:2px solid black;
    width: fit-content;
    margin:10px;
}
#birdlink{
    width:fit-content;
    padding:2px;
}